.root {
  display: grid;
  font-size: 0.75rem;
  grid-auto-rows: 2.5em;
}

.root a {
  padding-inline: 1em;
  display: flex;
  align-items: center;

  border-radius: calc(var(--b-rs) / 2);
  transition: 0.3s ease-in-out;
  transition-property: background-color;
}
.root a:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
